# Network Configuration
ZETA_RPC_URL=https://zetachain-athens.blockpi.network/v1/rpc/public
BASE_RPC_URL=https://mainnet.base.org

# Wallet Security
# Use these vars to avoid typing flags manually
ZETA_PHRASE="insert your twelve words mnemonic phrase here"
ZETA_PASS="optional_password"